@charset "UTF-8";

*{ /* Reset CSS */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}

html, body{ /* Define o tamanho da tela para ocupar toda a viewport */
    height: 100vh; /* 100% da altura da viewport */
    width: 100vw; /* 100% da largura da viewport */
    background-color: black;
}

body{
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center; /* Define a imagem de fundo e centraliza */
    background-size: cover; /* Faz a imagem de fundo cobrir toda a área disponível */
    background-attachment: fixed; /* Faz a imagem de fundo ficar fixa durante a rolagem */
}


main{ /* Centraliza o conteúdo dentro da tela */
    position: relative; /* Permite posicionar os elementos filhos de forma absoluta */
    height: 100vh;
}

section#telefone{ /* Estiliza a seção do telefone */
    position: absolute; /* Permite posicionar o elemento em relação ao pai (main) */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para centralizar perfeitamente */

    height: 627px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat center center; /* Define a imagem de fundo e centraliza */
}

iframe#tela{ /* Estiliza o iframe que representa a tela do telefone */
    position: absolute; /* Permite posicionar o elemento em relação ao pai (section#telefone) */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para centralizar perfeitamente */

    height: 500px;
    width: 280px;
    border: none; /* Remove a borda do iframe */
}

section#redes-sociais{ /* Estiliza a seção das redes sociais */
    text-align: right; /* Alinha o conteúdo à direita */
}

section#redes-sociais img{ /* Estiliza as imagens das redes sociais */
    width: 50px; /* Define a largura das imagens */
    height: 50px; /* Define a altura das imagens */
    margin: 10px; /* Adiciona uma margem entre as imagens */
    border-radius: 50%; /* Deixa as imagens circulares */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Adiciona uma sombra para dar destaque */
    transition: transform 0.3s ease; /* Adiciona uma transição suave para o efeito de hover */
    box-sizing: border-box; /* Garante que o tamanho da imagem inclua a borda e a sombra */
} 

section#redes-sociais img:hover{ /* Estiliza o efeito de hover nas imagens das redes sociais */
    transform: scale(1.2); /* Aumenta o tamanho da imagem ao passar o mouse */
    border: 2px solid rgba(255, 255, 255, 0.603); /* Adiciona uma borda branca ao passar o mouse */
}

section#redes-sociais img:active { /* Estiliza o efeito de clique nas imagens das redes sociais */
    transform: scale(95%); /* Reduz ligeiramente o tamanho da imagem ao clicar */
    
}